{% extends 'base.html' %}
{% block page_style %}
<style>
	.menucard{
		padding-left: 60px;
		padding-right: 60px;
	}
</style>
{% endblock %}	
{% block page_content %}
<div class="row" style="height: 10%!important"></div>
<div class="row">
	<div class="col-3"></div>
	<div class="col-6 text-center">
		<img src="https://media.discordapp.net/attachments/572616074642718720/644371734106996749/kpj-tawakkal-logo.png" alt="" style="width: 400px; height: 100px">
	</div>
	<div class="col-3"></div>
</div>
<div class="row" style="height: 10%!important"></div>
<div class="row">
	<div class="col-3"></div>
	<div class="col-6 text-center">
		<h4 style="color: blue"><strong> <em>SERVICES MENU</em> </strong></h4>
	</div>
	<div class="col-3"></div>
</div>
<div class="row" style="height: 10%!important"></div>
<div class="row">
	<div class="col"></div>
	<div class="col-9 text-center">
		<div class="row m-0 p-0">
			<div class="col-4 menucard">
				<div class="card">
				  <div class="card-body">
				  	<img src="https://raw.githubusercontent.com/neonexxa/kpjimages/master/call-doctor.png" alt="">
				  	<br>
				    Call Doctor
				  </div>
				</div>
			</div>
			<div class="col-4 menucard">
				<div class="card">
				  <div class="card-body">
				  	<img src="https://raw.githubusercontent.com/neonexxa/kpjimages/master/heartbeat.png" alt="">
				  	<br>
				    My Treatment
				  </div>
				</div>
			</div>
			<div class="col-4 menucard">
				<div class="card">
				  <div class="card-body">
				  	<img src="https://raw.githubusercontent.com/neonexxa/kpjimages/master/patient-info.png" alt="">
				  	<br>
				    My Profile
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="col"></div>
</div>
{% endblock %}